*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.principal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login .button {
    width: 100%;
    padding: 10px;
    background-color: #2876a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login button:hover {
    background-color: #218838;
}
.login .mensagem {
    margin-top: 15px;
    text-align: center;
    color: red;
}
.login .mensagemsucess {
    color: green;
}
